.urgent-task {
  color: yellowgreen;
}

.blocking-task {
  color: tomato;
}

.info-task {
  color: green;
}

.mgs-enjoy {
  color: mediumseagreen;
  font-weight: bold;
}

.msg-job {
  color: aquamarine;
  font-weight: bold;
}


